In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_dropped = application_df.drop(columns = ["EIN", "NAME"])
app_df_dropped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = app_df_dropped["APPLICATION_TYPE"].value_counts()

In [4]:
# Choose a cutoff value (count < 100) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Saving the top 9 index values
application_types_to_replace = app_type_counts.index[9:].tolist()

In [5]:
# Replace in dataframe
for app in application_types_to_replace:
    app_df_dropped['APPLICATION_TYPE'] = app_df_dropped['APPLICATION_TYPE'].replace(app,"Other")

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_dropped["CLASSIFICATION"].value_counts()

In [7]:
# Choose a cutoff value (count < 500) and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Saving the top 6 values in this case
classifications_to_replace = class_counts.index[6:].tolist()

In [8]:
# Replace in dataframe
for cls in classifications_to_replace:
    app_df_dropped['CLASSIFICATION'] = app_df_dropped['CLASSIFICATION'].replace(cls,"Other")

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(app_df_dropped, columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION",\
                                                                      "USE_CASE", "ORGANIZATION", "INCOME_AMT",\
                                                                     "SPECIAL_CONSIDERATIONS"])

In [10]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop(columns = "IS_SUCCESSFUL").values
y = encoded_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hl1_units = 16
hl2_units = 16
hl3_units = 16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hl1_units, activation = "relu", input_dim = 45))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hl2_units, activation = "relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units = hl3_units, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                736

 dense_1 (Dense)             (None, 16)                272

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,297
Trainable params: 1,297
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5832 - accuracy: 0.7173
Epoch 2/100
804/804 [==============================] - 1s 990us/step - loss: 0.5582 - accuracy: 0.7274
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5538 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 1s 995us/step - loss: 0.5518 - accuracy: 0.7306
Epoch 5/100
804/804 [==============================] - 1s 985us/step - loss: 0.5503 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 1s 983us/step - loss: 0.5489 - accuracy: 0.7317
Epoch 7/100
804/804 [==============================] - 1s 995us/step - loss: 0.5483 - accuracy: 0.7317
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7317
Epoch 9/100
804/804 [==============================] - 1s 995us/step - loss: 0.5464 - accuracy: 0.7324
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7323
Epoch 11/100
804/804 [==============================] - 1s 989us/step - loss: 0.5466 - accuracy: 0.7317
Epoch 12/100
804/804 [==============================] - 1s 987us/step - loss: 0.5454 - accuracy: 0.7327
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5449 - accuracy: 0.7334
Epoch 14/100
804/804 [==============================] - 1s 999us/step - loss: 0.5446 - accuracy: 0.7336
Epoch 15/100
804/804 [==============================] - 1s 998us/step - loss: 0.5444 - accuracy: 0.7345
Epoch 16/100
804/804 [==============================] - 1s 992us/step - loss: 0.5444 - accuracy: 0.7334
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5445 - accuracy: 0.7328
Epoch 18/100
804/804 [==============================] - 1s 994us/step - loss: 0.5439 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 1s 994us/step - loss: 0.5439 - accuracy: 0.7345
Epoch 20/100
804/804 [==============================] - 1s 983us/step - loss: 0.5432 - accuracy: 0.7349
Epoch 21/100
804/804 [==============================] - 1s 980us/step - loss: 0.5441 - accuracy: 0.7342
Epoch 22/100
804/804 [==============================] - 1s 978us/step - loss: 0.5431 - accuracy: 0.7339
Epoch 23/100
804/804 [==============================] - 1s 976us/step - loss: 0.5430 - accuracy: 0.7343
Epoch 24/100
804/804 [==============================] - 1s 971us/step - loss: 0.5428 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 1s 977us/step - loss: 0.5427 - accuracy: 0.7341
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 27/100
804/804 [==============================] - 1s 993us/step - loss: 0.5424 - accuracy: 0.7350
Epoch 28/100
804/804 [==============================] - 1s 988us/step - loss: 0.5423 - accuracy: 0.7348
Epoch 29/100
804/804 [==============================] - 1s 985us/step - loss: 0.5423 - accuracy: 0.7353
Epoch 30/100
804/804 [==============================] - 1s 982us/step - loss: 0.5421 - accuracy: 0.7336
Epoch 31/100
804/804 [==============================] - 1s 987us/step - loss: 0.5419 - accuracy: 0.7355
Epoch 32/100
804/804 [==============================] - 1s 989us/step - loss: 0.5417 - accuracy: 0.7352
Epoch 33/100
804/804 [==============================] - 1s 980us/step - loss: 0.5412 - accuracy: 0.7345
Epoch 34/100
804/804 [==============================] - 1s 980us/step - loss: 0.5412 - accuracy: 0.7356
Epoch 35/100
804/804 [==============================] - 1s 982us/step - loss: 0.5410 - accuracy: 0.7352
Epoch 36/100
804/804 [==============================] - 1s 980us/step - loss: 0.5410 - accuracy: 0.7357
Epoch 37/100
804/804 [==============================] - 1s 985us/step - loss: 0.5412 - accuracy: 0.7358
Epoch 38/100
804/804 [==============================] - 1s 987us/step - loss: 0.5408 - accuracy: 0.7354
Epoch 39/100
804/804 [==============================] - 1s 982us/step - loss: 0.5408 - accuracy: 0.7367
Epoch 40/100
804/804 [==============================] - 1s 986us/step - loss: 0.5403 - accuracy: 0.7363
Epoch 41/100
804/804 [==============================] - 1s 984us/step - loss: 0.5405 - accuracy: 0.7360
Epoch 42/100
804/804 [==============================] - 1s 983us/step - loss: 0.5401 - accuracy: 0.7364
Epoch 43/100
804/804 [==============================] - 1s 987us/step - loss: 0.5405 - accuracy: 0.7366
Epoch 44/100
804/804 [==============================] - 1s 987us/step - loss: 0.5399 - accuracy: 0.7360
Epoch 45/100
804/804 [==============================] - 1s 989us/step - loss: 0.5399 - accuracy: 0.7361
Epoch 46/100
804/804 [==============================] - 1s 984us/step - loss: 0.5395 - accuracy: 0.7373
Epoch 47/100
804/804 [==============================] - 1s 993us/step - loss: 0.5401 - accuracy: 0.7367
Epoch 48/100
804/804 [==============================] - 1s 983us/step - loss: 0.5397 - accuracy: 0.7368
Epoch 49/100
804/804 [==============================] - 1s 987us/step - loss: 0.5398 - accuracy: 0.7364
Epoch 50/100
804/804 [==============================] - 1s 994us/step - loss: 0.5400 - accuracy: 0.7369
Epoch 51/100
804/804 [==============================] - 1s 987us/step - loss: 0.5397 - accuracy: 0.7371
Epoch 52/100
804/804 [==============================] - 1s 984us/step - loss: 0.5390 - accuracy: 0.7373
Epoch 53/100
804/804 [==============================] - 1s 984us/step - loss: 0.5389 - accuracy: 0.7367
Epoch 54/100
804/804 [==============================] - 1s 986us/step - loss: 0.5393 - accuracy: 0.7368
Epoch 55/100
804/804 [==============================] - 1s 987us/step - loss: 0.5391 - accuracy: 0.7376
Epoch 56/100
804/804 [==============================] - 1s 984us/step - loss: 0.5386 - accuracy: 0.7371
Epoch 57/100
804/804 [==============================] - 1s 994us/step - loss: 0.5390 - accuracy: 0.7376
Epoch 58/100
804/804 [==============================] - 1s 987us/step - loss: 0.5390 - accuracy: 0.7373
Epoch 59/100
804/804 [==============================] - 1s 981us/step - loss: 0.5389 - accuracy: 0.7374
Epoch 60/100
804/804 [==============================] - 1s 981us/step - loss: 0.5385 - accuracy: 0.7368
Epoch 61/100
804/804 [==============================] - 1s 983us/step - loss: 0.5388 - accuracy: 0.7371
Epoch 62/100
804/804 [==============================] - 1s 985us/step - loss: 0.5385 - accuracy: 0.7375
Epoch 63/100
804/804 [==============================] - 1s 984us/step - loss: 0.5385 - accuracy: 0.7374
Epoch 64/100
804/804 [==============================] - 1s 986us/step - loss: 0.5382 - accuracy: 0.7386
Epoch 65/100
804/804 [==============================] - 1s 984us/step - loss: 0.5380 - accuracy: 0.7381
Epoch 66/100
804/804 [==============================] - 1s 986us/step - loss: 0.5387 - accuracy: 0.7371
Epoch 67/100
804/804 [==============================] - 1s 983us/step - loss: 0.5379 - accuracy: 0.7376
Epoch 68/100
804/804 [==============================] - 1s 982us/step - loss: 0.5380 - accuracy: 0.7375
Epoch 69/100
804/804 [==============================] - 1s 988us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 70/100
804/804 [==============================] - 1s 978us/step - loss: 0.5380 - accuracy: 0.7372
Epoch 71/100
804/804 [==============================] - 1s 980us/step - loss: 0.5381 - accuracy: 0.7372
Epoch 72/100
804/804 [==============================] - 1s 980us/step - loss: 0.5380 - accuracy: 0.7379
Epoch 73/100
804/804 [==============================] - 1s 982us/step - loss: 0.5376 - accuracy: 0.7381
Epoch 74/100
804/804 [==============================] - 1s 981us/step - loss: 0.5378 - accuracy: 0.7376
Epoch 75/100
804/804 [==============================] - 1s 980us/step - loss: 0.5378 - accuracy: 0.7385
Epoch 76/100
804/804 [==============================] - 1s 980us/step - loss: 0.5377 - accuracy: 0.7385
Epoch 77/100
804/804 [==============================] - 1s 977us/step - loss: 0.5379 - accuracy: 0.7374
Epoch 78/100
804/804 [==============================] - 1s 986us/step - loss: 0.5372 - accuracy: 0.7368
Epoch 79/100
804/804 [==============================] - 1s 980us/step - loss: 0.5378 - accuracy: 0.7371

Epoch 80/100
804/804 [==============================] - 1s 992us/step - loss: 0.5373 - accuracy: 0.7370
Epoch 81/100
804/804 [==============================] - 1s 984us/step - loss: 0.5372 - accuracy: 0.7377
Epoch 82/100
804/804 [==============================] - 1s 987us/step - loss: 0.5377 - accuracy: 0.7386
Epoch 83/100
804/804 [==============================] - 1s 990us/step - loss: 0.5371 - accuracy: 0.7384
Epoch 84/100
804/804 [==============================] - 1s 983us/step - loss: 0.5376 - accuracy: 0.7373
Epoch 85/100
804/804 [==============================] - 1s 984us/step - loss: 0.5372 - accuracy: 0.7385
Epoch 86/100
804/804 [==============================] - 1s 977us/step - loss: 0.5373 - accuracy: 0.7378
Epoch 87/100
804/804 [==============================] - 1s 981us/step - loss: 0.5376 - accuracy: 0.7378
Epoch 88/100
804/804 [==============================] - 1s 982us/step - loss: 0.5369 - accuracy: 0.7377
Epoch 89/100
804/804 [==============================] - 1s 983us/step - loss: 0.5374 - accuracy: 0.7380
Epoch 90/100
804/804 [==============================] - 1s 981us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 91/100
804/804 [==============================] - 1s 987us/step - loss: 0.5370 - accuracy: 0.7387
Epoch 92/100
804/804 [==============================] - 1s 979us/step - loss: 0.5368 - accuracy: 0.7381
Epoch 93/100
804/804 [==============================] - 1s 980us/step - loss: 0.5372 - accuracy: 0.7374
Epoch 94/100
804/804 [==============================] - 1s 977us/step - loss: 0.5365 - accuracy: 0.7388
Epoch 95/100
804/804 [==============================] - 1s 987us/step - loss: 0.5371 - accuracy: 0.7373
Epoch 96/100
804/804 [==============================] - 1s 976us/step - loss: 0.5363 - accuracy: 0.7383
Epoch 97/100
804/804 [==============================] - 1s 980us/step - loss: 0.5366 - accuracy: 0.7390
Epoch 98/100
804/804 [==============================] - 1s 977us/step - loss: 0.5366 - accuracy: 0.7387
Epoch 99/100
804/804 [==============================] - 1s 979us/step - loss: 0.5368 - accuracy: 0.7390
Epoch 100/100
804/804 [==============================] - 1s 983us/step - loss: 0.5364 - accuracy: 0.7380

In [15]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5534 - accuracy: 0.7282 - 288ms/epoch - 1ms/step
Loss: 0.5534107089042664, Accuracy: 0.7281632423400879

In [16]:
nn.save("AlphabetSoupCharityOpt1.h5")