## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_df_dropped = application_df.drop(columns = ["EIN", "NAME"])
app_df_dropped.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
app_df_dropped.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = app_df_dropped["APPLICATION_TYPE"].value_counts()
print(app_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value (count < 100) and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Saving the top 9 index values
application_types_to_replace = app_type_counts.index[9:].tolist()

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    app_df_dropped['APPLICATION_TYPE'] = app_df_dropped['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
app_df_dropped['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_df_dropped["CLASSIFICATION"].value_counts()
print(class_counts.head(20))

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value (count < 500) and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Saving the top 6 values in this case
classifications_to_replace = class_counts.index[6:].tolist()

In [9]:
# Replace in dataframe
for cls in classifications_to_replace:
    app_df_dropped['CLASSIFICATION'] = app_df_dropped['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
app_df_dropped['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded_df = pd.get_dummies(app_df_dropped, columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION",\
                                                                      "USE_CASE", "ORGANIZATION", "INCOME_AMT",\
                                                                     "SPECIAL_CONSIDERATIONS"])

In [11]:
# Split our preprocessed data into our features and target arrays
X = encoded_df.drop(columns = "IS_SUCCESSFUL").values
y = encoded_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hl1_units = 16
hl2_units = 16

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = hl1_units, activation = "relu", input_dim = 45))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = hl2_units, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = "sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 16)                736

 dense_2 (Dense)             (None, 16)                272

 dense_3 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,025
Trainable params: 1,025
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 967us/step - loss: 0.5979 - accuracy: 0.7021
Epoch 2/100
804/804 [==============================] - 1s 943us/step - loss: 0.5584 - accuracy: 0.7265
Epoch 3/100
804/804 [==============================] - 1s 942us/step - loss: 0.5540 - accuracy: 0.7288
Epoch 4/100
804/804 [==============================] - 1s 940us/step - loss: 0.5519 - accuracy: 0.7304
Epoch 5/100
804/804 [==============================] - 1s 938us/step - loss: 0.5505 - accuracy: 0.7304
Epoch 6/100
804/804 [==============================] - 1s 938us/step - loss: 0.5493 - accuracy: 0.7314
Epoch 7/100
804/804 [==============================] - 1s 937us/step - loss: 0.5479 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 1s 947us/step - loss: 0.5478 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 1s 942us/step - loss: 0.5470 - accuracy: 0.7326
Epoch 10/100
804/804 [==============================] - 1s 937us/step - loss: 0.5464 - accuracy: 0.7320
Epoch 11/100
804/804 [==============================] - 1s 941us/step - loss: 0.5461 - accuracy: 0.7338
Epoch 12/100
804/804 [==============================] - 1s 947us/step - loss: 0.5459 - accuracy: 0.7322
Epoch 13/100
804/804 [==============================] - 1s 950us/step - loss: 0.5457 - accuracy: 0.7339
Epoch 14/100
804/804 [==============================] - 1s 944us/step - loss: 0.5451 - accuracy: 0.7335
Epoch 15/100
804/804 [==============================] - 1s 952us/step - loss: 0.5444 - accuracy: 0.7327
Epoch 16/100
804/804 [==============================] - 1s 949us/step - loss: 0.5444 - accuracy: 0.7344
Epoch 17/100
804/804 [==============================] - 1s 952us/step - loss: 0.5439 - accuracy: 0.7338
Epoch 18/100
804/804 [==============================] - 1s 951us/step - loss: 0.5442 - accuracy: 0.7346
Epoch 19/100
804/804 [==============================] - 1s 947us/step - loss: 0.5438 - accuracy: 0.7351
Epoch 20/100
804/804 [==============================] - 1s 946us/step - loss: 0.5434 - accuracy: 0.7338
Epoch 21/100
804/804 [==============================] - 1s 944us/step - loss: 0.5436 - accuracy: 0.7349
Epoch 22/100
804/804 [==============================] - 1s 940us/step - loss: 0.5428 - accuracy: 0.7344
Epoch 23/100
804/804 [==============================] - 1s 946us/step - loss: 0.5427 - accuracy: 0.7346
Epoch 24/100
804/804 [==============================] - 1s 943us/step - loss: 0.5427 - accuracy: 0.7349
Epoch 25/100
804/804 [==============================] - 1s 954us/step - loss: 0.5429 - accuracy: 0.7353
Epoch 26/100
804/804 [==============================] - 1s 943us/step - loss: 0.5423 - accuracy: 0.7358
Epoch 27/100
804/804 [==============================] - 1s 940us/step - loss: 0.5424 - accuracy: 0.7352
Epoch 28/100
804/804 [==============================] - 1s 942us/step - loss: 0.5421 - accuracy: 0.7356
Epoch 29/100
804/804 [==============================] - 1s 959us/step - loss: 0.5422 - accuracy: 0.7357
Epoch 30/100
804/804 [==============================] - 1s 961us/step - loss: 0.5417 - accuracy: 0.7365
Epoch 31/100
804/804 [==============================] - 1s 964us/step - loss: 0.5421 - accuracy: 0.7366
Epoch 32/100
804/804 [==============================] - 1s 962us/step - loss: 0.5414 - accuracy: 0.7352
Epoch 33/100
804/804 [==============================] - 1s 961us/step - loss: 0.5418 - accuracy: 0.7351
Epoch 34/100
804/804 [==============================] - 1s 973us/step - loss: 0.5418 - accuracy: 0.7360
Epoch 35/100
804/804 [==============================] - 1s 959us/step - loss: 0.5413 - accuracy: 0.7359
Epoch 36/100
804/804 [==============================] - 1s 961us/step - loss: 0.5415 - accuracy: 0.7363
Epoch 37/100
804/804 [==============================] - 1s 953us/step - loss: 0.5410 - accuracy: 0.7364
Epoch 38/100
804/804 [==============================] - 1s 966us/step - loss: 0.5410 - accuracy: 0.7357
Epoch 39/100
804/804 [==============================] - 1s 952us/step - loss: 0.5408 - accuracy: 0.7364
Epoch 40/100
804/804 [==============================] - 1s 955us/step - loss: 0.5407 - accuracy: 0.7374
Epoch 41/100
804/804 [==============================] - 1s 961us/step - loss: 0.5407 - accuracy: 0.7365
Epoch 42/100
804/804 [==============================] - 1s 943us/step - loss: 0.5405 - accuracy: 0.7369
Epoch 43/100
804/804 [==============================] - 1s 946us/step - loss: 0.5405 - accuracy: 0.7363
Epoch 44/100
804/804 [==============================] - 1s 946us/step - loss: 0.5406 - accuracy: 0.7363
Epoch 45/100
804/804 [==============================] - 1s 946us/step - loss: 0.5401 - accuracy: 0.7358
Epoch 46/100
804/804 [==============================] - 1s 952us/step - loss: 0.5406 - accuracy: 0.7370
Epoch 47/100
804/804 [==============================] - 1s 947us/step - loss: 0.5403 - accuracy: 0.7376
Epoch 48/100
804/804 [==============================] - 1s 947us/step - loss: 0.5402 - accuracy: 0.7368
Epoch 49/100
804/804 [==============================] - 1s 961us/step - loss: 0.5399 - accuracy: 0.7364
Epoch 50/100
804/804 [==============================] - 1s 961us/step - loss: 0.5400 - accuracy: 0.7365
Epoch 51/100
804/804 [==============================] - 1s 948us/step - loss: 0.5397 - accuracy: 0.7362
Epoch 52/100
804/804 [==============================] - 1s 944us/step - loss: 0.5404 - accuracy: 0.7375
Epoch 53/100
804/804 [==============================] - 1s 952us/step - loss: 0.5400 - accuracy: 0.7364
Epoch 54/100
804/804 [==============================] - 1s 966us/step - loss: 0.5400 - accuracy: 0.7364
Epoch 55/100
804/804 [==============================] - 1s 958us/step - loss: 0.5398 - accuracy: 0.7368
Epoch 56/100
804/804 [==============================] - 1s 963us/step - loss: 0.5396 - accuracy: 0.7382
Epoch 57/100
804/804 [==============================] - 1s 946us/step - loss: 0.5395 - accuracy: 0.7370
Epoch 58/100
804/804 [==============================] - 1s 937us/step - loss: 0.5393 - accuracy: 0.7367
Epoch 59/100
804/804 [==============================] - 1s 943us/step - loss: 0.5399 - accuracy: 0.7363
Epoch 60/100
804/804 [==============================] - 1s 941us/step - loss: 0.5394 - accuracy: 0.7364
Epoch 61/100
804/804 [==============================] - 1s 952us/step - loss: 0.5397 - accuracy: 0.7372
Epoch 62/100
804/804 [==============================] - 1s 948us/step - loss: 0.5393 - accuracy: 0.7377
Epoch 63/100
804/804 [==============================] - 1s 956us/step - loss: 0.5393 - accuracy: 0.7372
Epoch 64/100
804/804 [==============================] - 1s 949us/step - loss: 0.5388 - accuracy: 0.7379
Epoch 65/100
804/804 [==============================] - 1s 959us/step - loss: 0.5391 - accuracy: 0.7365
Epoch 66/100
804/804 [==============================] - 1s 955us/step - loss: 0.5392 - accuracy: 0.7365
Epoch 67/100
804/804 [==============================] - 1s 941us/step - loss: 0.5390 - accuracy: 0.7381
Epoch 68/100
804/804 [==============================] - 1s 957us/step - loss: 0.5388 - accuracy: 0.7381
Epoch 69/100
804/804 [==============================] - 1s 947us/step - loss: 0.5392 - accuracy: 0.7374
Epoch 70/100
804/804 [==============================] - 1s 940us/step - loss: 0.5388 - accuracy: 0.7385
Epoch 71/100
804/804 [==============================] - 1s 937us/step - loss: 0.5390 - accuracy: 0.7376
Epoch 72/100
804/804 [==============================] - 1s 941us/step - loss: 0.5392 - accuracy: 0.7379
Epoch 73/100
804/804 [==============================] - 1s 939us/step - loss: 0.5387 - accuracy: 0.7374
Epoch 74/100
804/804 [==============================] - 1s 938us/step - loss: 0.5387 - accuracy: 0.7386
Epoch 75/100
804/804 [==============================] - 1s 938us/step - loss: 0.5385 - accuracy: 0.7381
Epoch 76/100
804/804 [==============================] - 1s 938us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 77/100
804/804 [==============================] - 1s 938us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 78/100
804/804 [==============================] - 1s 943us/step - loss: 0.5380 - accuracy: 0.7376
Epoch 79/100

804/804 [==============================] - 1s 937us/step - loss: 0.5383 - accuracy: 0.7374
Epoch 80/100
804/804 [==============================] - 1s 939us/step - loss: 0.5384 - accuracy: 0.7385
Epoch 81/100
804/804 [==============================] - 1s 938us/step - loss: 0.5383 - accuracy: 0.7378
Epoch 82/100
804/804 [==============================] - 1s 937us/step - loss: 0.5380 - accuracy: 0.7364
Epoch 83/100
804/804 [==============================] - 1s 947us/step - loss: 0.5385 - accuracy: 0.7376
Epoch 84/100
804/804 [==============================] - 1s 942us/step - loss: 0.5380 - accuracy: 0.7377
Epoch 85/100
804/804 [==============================] - 1s 940us/step - loss: 0.5380 - accuracy: 0.7382
Epoch 86/100
804/804 [==============================] - 1s 943us/step - loss: 0.5381 - accuracy: 0.7377
Epoch 87/100
804/804 [==============================] - 1s 938us/step - loss: 0.5383 - accuracy: 0.7385
Epoch 88/100
804/804 [==============================] - 1s 939us/step - loss: 0.5382 - accuracy: 0.7381
Epoch 89/100
804/804 [==============================] - 1s 937us/step - loss: 0.5380 - accuracy: 0.7380
Epoch 90/100
804/804 [==============================] - 1s 940us/step - loss: 0.5383 - accuracy: 0.7367
Epoch 91/100
804/804 [==============================] - 1s 937us/step - loss: 0.5380 - accuracy: 0.7387
Epoch 92/100
804/804 [==============================] - 1s 941us/step - loss: 0.5377 - accuracy: 0.7380
Epoch 93/100
804/804 [==============================] - 1s 937us/step - loss: 0.5379 - accuracy: 0.7370
Epoch 94/100
804/804 [==============================] - 1s 942us/step - loss: 0.5378 - accuracy: 0.7374
Epoch 95/100
804/804 [==============================] - 1s 942us/step - loss: 0.5379 - accuracy: 0.7380
Epoch 96/100
804/804 [==============================] - 1s 937us/step - loss: 0.5380 - accuracy: 0.7382
Epoch 97/100
804/804 [==============================] - 1s 941us/step - loss: 0.5374 - accuracy: 0.7376
Epoch 98/100
804/804 [==============================] - 1s 939us/step - loss: 0.5377 - accuracy: 0.7387
Epoch 99/100
804/804 [==============================] - 1s 945us/step - loss: 0.5376 - accuracy: 0.7385
Epoch 100/100
804/804 [==============================] - 1s 942us/step - loss: 0.5377 - accuracy: 0.7379

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5541 - accuracy: 0.7303 - 311ms/epoch - 1ms/step
Loss: 0.554117739200592, Accuracy: 0.7302623987197876

In [20]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")